<template>
	<v-row style="color: black !important;">
		<v-flex xs4 class="datePcker">
			<v-subheader style="font-size: 17px;" v-text="label"></v-subheader>
		</v-flex>
		<v-flex xs7>
			<slot />
		</v-flex>
		<v-spacer />
	</v-row>
</template>
<script>
export default {
	name: 'DatePickerCore',
	props: ['label'],
}
</script>
<style></style>
