<template>
  <v-sheet class="transparent">
    <v-select :items="langs" label="Solo field" solo v-model="lang" class="ma-5"></v-select>
  </v-sheet>
</template>
<script>
import { mapGetters } from "vuex";
import { availableLocale } from "@/config/locale";
export default {
  data() {
    return {
      langs: availableLocale
    };
  },
  computed: {
    ...mapGetters("navigations", [
      "activeItemStyle",
      "isMinSideNav",
      "isSidenavPostionRight"
    ]),
    ...mapGetters(["locale"]),
    ...mapGetters("scheme", ["dark", "semidark", "header", "footer", "rtl"]),
    lang: {
      get() {
        return this.locale;
      },
      set(value) {
        this.$store.dispatch("setLocale", value);
        if (value == "fa") {
          this.$vuetify.rtl = true;
          this.$store.dispatch("scheme/setRtl", true);
          this.$store.dispatch("navigations/setSidenavPositionRight", true);
        }
        if (value == "en") {
          this.$vuetify.rtl = false;
          this.$store.dispatch("scheme/setRtl", false);
          this.$store.dispatch("navigations/setSidenavPositionRight", false);
        }
      }
    }
  }
};
</script>
