<template>
  <v-sheet height="100%" class="neu-glow-inset">
    <v-container class="fill-height justify-center" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="7">
          <v-sheet class="neu-glow with-radius">
            <v-card-text class="pa-0">
              <v-row class="ma-0">
                <v-col
                  cols="12"
                  md="6"
                  class="pa-0"
                  v-if="$vuetify.breakpoint.mdAndUp"
                >
                  <!-- <slider /> -->
                  <v-row
                    align="center"
                    justify="center"
                    class="fill-height ma-0"
                  >
                    <v-img
                      src="/static/illustator/working_late.png"
                      lazy-src="/static/illustator/working_late.png"
                    ></v-img>
                  </v-row>
                </v-col>
                <!-- 2 -->
                <v-col cols="12" md="6">
                  <div class="my-8 text-center">
                    <div class="display-1 d-flex justify-center align-center">
                      <vuse-logo class="primary--text" size="45" /><b>یلدا</b>
                      <span class="ml-2">سیستم</span>
                    </div>
                    <div class="subtitle-1 mt-3">سلام ، خوش آمدید</div>
                  </div>
                  <v-sheet max-width="380" class="mx-auto" color="transparent">
                    <v-form
                      @submit.prevent="$v.$invalid ? null : submit()"
                      ref="form"
                    >
                      <v-text-field
                        :error-messages="fieldErrors('form.userName')"
                        @input="$v.form.userName.$touch()"
                        @blur="$v.form.userName.$touch()"
                        prepend-inner-icon="user"
                        v-model="form.userName"
                        label="نام کاربری"
                        solo
                        flat
                      />
                      <v-text-field
                        :error-messages="fieldErrors('form.password')"
                        :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="showPwd ? 'text' : 'password'"
                        @input="$v.form.password.$touch()"
                        @blur="$v.form.password.$touch()"
                        prepend-inner-icon="vpn_key"
                        v-model="form.password"
                        label="پسورد"
                        @click:append="showPwd = !showPwd"
                        solo
                        flat
                      />
                      <v-btn block type="submit" :disabled="$v.$invalid"
                        >ورود</v-btn
                      >
                    </v-form>
                  </v-sheet>
                </v-col>
              </v-row>
            </v-card-text>
          </v-sheet>
        </v-col>
      </v-row>
    </v-container>
    <v-snackbar v-model="snackbarSuccess" absolute top right color="success">
      <span>Signed In Successfully</span>
      <v-icon dark>check_circle</v-icon>
    </v-snackbar>

    <v-snackbar v-model="snackbarError" absolute top right color="error">
      <span>ورود با خطا مواجهه شد</span>
      <v-icon dark>check_circle</v-icon>
    </v-snackbar>
  </v-sheet>
</template>

<script>
// Validations
import { required, minLength } from "vuelidate/lib/validators";
import validationMixin from "@/mixins/validationMixin";
import { authenticationService } from "../../../../services/index";

const defaultForm = {
  userName: "",
  password: "",
};
export default {
  middleware: ["auth-admin"],
  mixins: [validationMixin],
  validations: {
    form: {
      userName: { required },
      password: {
        required,
        minLength: minLength(3),
      },
    },
  },
  validationMessages: {
    form: {
      userName: {
        required: "لطفا نام کاربری را وارد نمایید",
      },
      password: {
        required: "لطفا پسورد را وارد نمایید",
      },
    },
  },
  data() {
    return {
      form: Object.assign({}, defaultForm),
      showPwd: false,
      snackbarSuccess: false,
      snackbarError: false,
    };
  },
  methods: {
    submit() {
      authenticationService
        .login(this.form)
        .then((resData) => {
          if (resData.status == 200) {
            this.$store.dispatch("UserAuthentications/login", resData.data);
            this.snackbarSuccess = true;
            this.snackbarError = false;
            this.$router.push("/");
          }
        })
        .catch(() => {
          this.$store.dispatch("UserAuthentications/logout");
          this.snackbarSuccess = false;
          this.snackbarError = true;
        });
    },
    resetForm() {
      this.form = Object.assign({}, defaultForm);
      this.$refs.form.reset();
    },
  },
};
</script>

