<template>
	<v-row>
		<v-flex xs4>
			<v-subheader style="font-size: 17px;" v-text="label"></v-subheader>
		</v-flex>
		<v-flex xs7>
			<slot />
		</v-flex>
		<v-spacer />
	</v-row>
</template>
<script>
export default {
	name: 'SelectCore',
	props: ['label'],
}
</script>
