/* eslint-disable no-unused-vars */
<template>
	<div>
		<v-card>
			<v-card-title> کارتابل روزانه</v-card-title>
			<v-card-actions>
				<v-btn color="success" small dark @click="search">
					<v-icon>mdi-magnify</v-icon>
				</v-btn>
				<v-btn color="warning" small dark @click="clearFilter">
					<v-icon>mdi-eraser</v-icon>
				</v-btn>
				<v-btn color="warning" small dark @click="exportToExcel">
					<v-icon>mdi-file-excel-outline</v-icon>
				</v-btn>
				<v-btn color="info" small dark @click="showFiles">
					لیست پرونده های مدیون
				</v-btn>
				<v-btn color="info" small dark @click="showCheques">
					لیست چک های
				</v-btn>
				<v-btn color="info" small dark @click="showFollows">
					لیست پیگیری ها
				</v-btn>
				<v-btn color="info" small dark @click="showMessages">
					لیست پیام ها
				</v-btn>
				<v-btn color="info" small dark @click="showDetails">
					همه جزئیات
				</v-btn>
				<br />
			</v-card-actions>
		</v-card>
		<v-divider />
		<v-card>
			<v-card-text>
				<v-data-table
					v-model="selectedDebtor"
					:headers="headers"
					:items="desserts"
					:options.sync="options"
					:server-items-length="totalDesserts"
					:loading="loading"
					class="elevation-1"
					show-select
					:single-select="singleSelect"
					item-key="receiverPersonId"
					:items-per-page="itemPerPage"
				>
					<template slot="header">
						<tr>
							<td></td>
							<td v-for="header in headers" :key="header.text">
								<template v-if="header.hasFilter == true">
									<v-text-field
										@keyup.enter="search()"
										v-model="filters[header.value]"
									></v-text-field>
								</template>
							</td>
						</tr>
					</template>
				</v-data-table>
			</v-card-text>
			<v-card-actions> </v-card-actions>
		</v-card>
		<v-dialog persistent width="1200px" v-model="filesListModal">
			<files-list @closeModal="() => (filesListModal = false)"></files-list>
		</v-dialog>
		<v-dialog persistent width="1200px" v-model="chequesListModal">
			<cheques-list
				@closeModal="() => (chequesListModal = false)"
			></cheques-list>
		</v-dialog>
		<v-dialog persistent width="1200px" v-model="followsListModal">
			<follows-list
				:person_id="receiverPersonId"
				@closeModal="() => (followsListModal = false)"
			></follows-list>
		</v-dialog>
		<v-dialog persistent width="1200px" v-model="messagesListModal">
			<messages-list
				@closeModal="() => (messagesListModal = false)"
			></messages-list>
		</v-dialog>

		<v-dialog persistent width="1200px" v-model="detailsModal">
			<all-details-cartable
				@closeModal="() => (detailsModal = false)"
			></all-details-cartable>
		</v-dialog>

		receiverPersonId=>{{ receiverPersonId }}
	</div>
</template>

<script>
import { GetDaily } from '../../data/DailyCartable'
import FilesList from '../../components/Business/Dialogs/FilesList'
import ChequesList from '../../components/Business/Dialogs/ChequesList'
import FollowsList from '../../components/Business/Dialogs/FollowsList'
import MessagesList from '../../components/Business/Dialogs/MessagesList'
// eslint-disable-next-line no-unused-vars
import AllDetailsCartable from '../../components/Business/Dialogs/AllDetailsCartable'
//import { DailyCartableService } from '../../services/DailyCartable.Service'
import {
	DailyCartableHeaders,
	checkSelectedRow,
	DailyCartableFilter,
} from './RelatedPageData/Extentions'

export default {
	data() {
		return {
			// for show and hide modals
			filesListModal: false,
			chequesListModal: false,
			followsListModal: false,
			messagesListModal: false,
			detailsModal: false,
			// for data table
			itemPerPage: 5,
			singleSelect: true,
			selectedDebtor: [],
			totalDesserts: 0,
			desserts: [],
			loading: true,
			options: {},
			headers: DailyCartableHeaders,
			filters: DailyCartableFilter,
			receiverPersonId: null,
		}
	},

	methods: {
		async getDataFromApi() {
			this.loading = true
			// let result = await DailyCartableService.getAll({
			// 	sortBy: this.options.sortBy,
			// 	sortDesc: this.options.sortDesc,
			// 	itemsPerPage: this.options.itemsPerPage,
			// 	page: this.options.page,
			// 	filters: this.filters,
			// })
			// return result.data


			// for fake data
			let result = await GetDaily({
				sortBy: this.options.sortBy,
				sortDesc: this.options.sortDesc,
				itemsPerPage: this.options.itemsPerPage,
				page: this.options.page,
				filters: this.filters,
			})
			// eslint-disable-next-line no-debugger
			debugger;
			return result.items
		},
		clearFilter() {
			this.filters = DailyCartableFilter
		},
		search() {
			this.getDataFromApi().then(response => {
			//	this.desserts = response.data
				this.desserts = response
				this.totalDesserts = 5
				this.loading = false
			})
		},

		exportToExcel() {},
		showFiles() {
			// if (checkSelectedRow(this.selectedDebtor))
			this.filesListModal = true
		},
		showCheques() {
			// if (checkSelectedRow(this.selectedDebtor))
			this.chequesListModal = true
		},
		showFollows() {
			// if (checkSelectedRow(this.selectedDebtor))
			this.followsListModal = true
		},
		showMessages() {
			if (checkSelectedRow(this.selectedDebtor)) this.messagesListModal = true
		},
		showDetails() {
			//if (checkSelectedRow(this.selectedDebtor))
			this.detailsModal = true
		},
	},
	mounted() {
		this.search()
	},
	watch: {
		options: {
			handler() {
				this.search()
			},
			deep: true,
		},
		selectedDebtor: {
			handler() {
				// eslint-disable-next-line no-debugger
				debugger
				this.receiverPersonId = this.selectedDebtor[0]
					? this.selectedDebtor[0].receiverPersonId
					: null
			},
		},
	},
	components: {
		'files-list': FilesList,
		'cheques-list': ChequesList,
		'follows-list': FollowsList,
		'messages-list': MessagesList,
		'all-details-cartable': AllDetailsCartable,
	},
}
</script>
