<template>
  <v-container>
    <h2>{{ $t("IndividualFormTitle") }}</h2>
    <v-row>
      <v-col md="6" cols="12">
        <v-text-field
          v-model="firstName"
          :error-messages="firstNameErrors"
          :counter="10"
          :label="firstNameI18n"
          required
          @input="$v.firstName.$touch()"
          @blur="$v.firstName.$touch()"
        ></v-text-field>
      </v-col>

      <v-col md="6" cols="12">
        <v-text-field
          v-model="lastName"
          :counter="10"
          :error-messages="lastNameErrors"
          :label="lastNameI18n"
          required
          @input="$v.lastName.$touch()"
          @blur="$v.lastName.$touch()"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" cols="12">
        <v-select
          :items="items"
          v-model="genderType"
          :label="genderTypeI18n"
          item-text="title"
          item-value="value"
          required
          @input="$v.genderType.$touch()"
          @blur="$v.genderType.$touch()"
          :error-messages="genderTypeErrors"
        ></v-select>
      </v-col>
      <v-col md="6" cols="12">
        <v-text-field
          v-model="fatherName"
          :error-messages="fatherNameErrors"
          :counter="10"
          :label="fatherNameI18n"
          required
          @input="$v.fatherName.$touch()"
          @blur="$v.fatherName.$touch()"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" cols="12">
        <v-text-field
          v-model="serialNumber"
          :error-messages="serialNumberErrors"
          :counter="10"
          :label="serialNumberI18n"
          required
          @input="$v.serialNumber.$touch()"
          @blur="$v.serialNumber.$touch()"
        ></v-text-field>
      </v-col>

      <v-col md="6" cols="12">
        <v-text-field
          v-model="nationalCode"
          :error-messages="nationalCodeErrors"
          :counter="10"
          :label="nationalCodeI18n"
          required
          @input="$v.nationalCode.$touch()"
          @blur="$v.nationalCode.$touch()"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" cols="12">
        <label> {{ $t("BurnedPlace") }}</label>

        <vue-select
          class="style-chooser"
          v-model="cityBurn"
          :reduce="(city) => city.cityId"
          label="cityTitle"
          required
          @input="$v.cityBurn.$touch()"
          @blur="$v.cityBurn.$touch()"
          :options="cities"
        >
          <template v-slot:option="option">
            <v-row flat tile :dir="isRtl">
              <v-col xs-6>
                {{ option.cityTitle }}
              </v-col>
              <v-col xs-6>
                {{ option.provianceTitle }}
              </v-col>
            </v-row>
          </template>
        </vue-select>
      </v-col>

      <v-col md="6" cols="12">
        <label> {{ $t("IssuedPlace") }}</label>
        <vue-select
          required
          class="style-chooser"
          :error-messages="cityIssuedErrors"
          v-model="cityIssued"
          :reduce="(city) => city.cityId"
          label="cityTitle"
          :options="cities"
        >
          <template #search="{attributes, events}">
            <input
              class="vs__search"
              v-bind="attributes"
              v-on="events"
              required
              @input="$v.cityIssued.$touch()"
              @blur="$v.cityIssued.$touch()"
            />
          </template>
          <template v-slot:option="option">
            <v-row flat tile :dir="isRtl">
              <v-col xs-6>
                {{ option.cityTitle }}
              </v-col>
              <v-col xs-6>
                {{ option.provianceTitle }}
              </v-col>
            </v-row>
          </template>
        </vue-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" sm="6" cols="12" style="color: black !important;">
        <v-text-field
          class="form-control form-control-lg my-custom-container"
          v-model="birthDate"
          id="birth-date-element"
          :label="birthDate18n"
        />

        <date-picker
          :locale="lang"
          v-model="birthDate"
          element="birth-date-element"
          :auto-submit="true"
          :format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
        />
      </v-col>
      <v-col md="6" sm="6" cols="12" style="color: black !important;">
        <v-text-field
          type="text"
          class="form-control form-control-lg"
          v-model="issueDate"
          id="issue-date-element"
          :label="issueDate18n"
        />

        <date-picker
          :locale="lang"
          v-model="issueDate"
          element="issue-date-element"
          :auto-submit="true"
          :format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" cols="12">
        <v-text-field v-model="email" :label="emailI18n"></v-text-field>
      </v-col>

      <v-col md="6" cols="12">
        <v-text-field v-model="site" :label="siteI18n"></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="6" cols="12">
        <v-checkbox v-model="boss" :label="`${bossI18n}`"></v-checkbox>
      </v-col>
    </v-row>
    <v-btn class="mr-4" @click="submit">ذخیره</v-btn>
    <v-btn @click="clear"> انصراف</v-btn>
    <v-btn @click="clear"> جدید</v-btn>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
export default {
	mixins: [validationMixin],
	validations: {
		firstName: { required, maxLength: maxLength(10) },
		lastName: { required, maxLength: maxLength(10) },
		genderType: { required },
		fatherName: { required, maxLength: maxLength(10) },
		serialNumber: { required },
		nationalCode: {
			required,
			minLength: minLength(10),
			maxLength: maxLength(10),
		},
		cityIssued: { required },
		cityBurn: { required },
	},

	data: () => ({
		firstName: '',
		lastName: '',
		fatherName: '',
		genderType: '',
		serialNumber: '',
		cityIssued: '',
		cityBurn: '',
		nationalCode: '',
		birthDate: '',
		issueDate: '',
		site: '',
		email: '',
		boss: '',
	}),
	computed: {
		...mapGetters('scheme', ['rtl']),
		...mapGetters(['locale']),
		items() {
			return [
				{
					title: this.$t('Genders.Male'),
					value: 1,
				},
				{
					title: this.$t('Genders.Female'),
					value: 0,
				},
			]
		},
		genderTypeI18n() {
			return this.$t('Gender')
		},
		firstNameI18n() {
			return this.$t('FirstName')
		},
		lastNameI18n() {
			return this.$t('LastName')
		},
		fatherNameI18n() {
			return this.$t('FatherName')
		},
		serialNumberI18n() {
			return this.$t('SerialNumber')
		},
		siteI18n() {
			return this.$t('Site')
		},
		emailI18n() {
			return this.$t('Email')
		},
		nationalCodeI18n() {
			return this.$t('NationalCode')
		},
		birthDate18n() {
			return this.$t('BirthDate')
		},
		issueDate18n() {
			return this.$t('IssueDate')
		},
		bossI18n() {
			return this.$t('Boss')
		},
		firstNameErrors() {
			const errors = []
			if (!this.$v.firstName.$dirty) return errors
			!this.$v.firstName.maxLength &&
				errors.push(this.$t('Components.Validations.MaxError'))

			!this.$v.firstName.required &&
				errors.push(this.$t('Components.Validations.Required'))
			return errors
		},
		lastNameErrors() {
			const errors = []
			if (!this.$v.lastName.$dirty) return errors
			!this.$v.lastName.maxLength &&
				errors.push('lastName must be at most 10 characters long')
			!this.$v.lastName.required && errors.push('lastName is required.')
			return errors
		},
		fatherNameErrors() {
			const errors = []
			if (!this.$v.fatherName.$dirty) return errors
			!this.$v.fatherName.maxLength &&
				errors.push('fatherName must be at most 10 characters long')
			!this.$v.fatherName.required && errors.push('fatherName is required.')
			return errors
		},
		genderTypeErrors() {
			const errors = []
			if (!this.$v.genderType.$dirty) return errors
			!this.$v.genderType.required && errors.push('genderType is required.')
			return errors
		},
		serialNumberErrors() {
			const errors = []
			if (!this.$v.serialNumber.$dirty) return errors
			!this.$v.serialNumber.required && errors.push('serialNumber is required.')
			return errors
		},
		nationalCodeErrors() {
			const errors = []
			if (!this.$v.nationalCode.$dirty) return errors

			!this.$v.nationalCode.required && errors.push('nationalCode is required.')

			!this.$v.nationalCode.minLength &&
				errors.push('Name must be at least 10 characters long')

			!this.$v.nationalCode.maxLength &&
				errors.push('Name must be at most 10 characters long')

			return errors
		},
		cityIssuedErrors() {
			const errors = []
			if (!this.$v.cityIssued.$dirty) return errors

			!this.$v.cityIssued.required && errors.push('cityIssued is required.')

			return errors
		},
		cityBurnErrors() {
			const errors = []
			if (!this.$v.cityBurn.$dirty) return errors

			!this.$v.cityBurn.required && errors.push('cityBurn is required.')

			return errors
		},
		cities() {
			return [
				{
					cityId: 1,
					cityTitle: this.$t('Baharestan'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 2,
					cityTitle: this.$t('Pakdasht'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 3,
					cityTitle: this.$t('Pardis'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 4,
					cityTitle: this.$t('Pishva'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 5,
					cityTitle: this.$t('Damavand'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 6,
					cityTitle: this.$t('Shahryar'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 7,
					cityTitle: this.$t('Shahreghods'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 8,
					cityTitle: this.$t('Borujerd'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 9,
					cityTitle: this.$t('Azna'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 10,
					cityTitle: this.$t('Aligudarz'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 11,
					cityTitle: this.$t('Doroud'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 12,
					cityTitle: this.$t('Chegeny'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 13,
					cityTitle: this.$t('Delphan'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 14,
					cityTitle: this.$t('Selsele'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 15,
					cityTitle: this.$t('Kuhdasht'),
					provianceTitle: this.$t('Lorestan'),
				},
			]
		},
		isRtl: {
			get() {
				return this.rtl ? 'rtl' : 'ltr'
			},
		},

		lang: {
			get() {
				return this.locale
			},
		},
		formatDate() {
			return this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'
		},
	},

	methods: {
		submit() {
			this.$v.$touch()
		},
		clear() {
			this.$v.$reset()
			this.firstName = ''
			this.lastName = ''
			this.fatherName = ''
			this.genderType = undefined
			;(this.nationalCode = ''), (this.cityIssued = ''), (this.cityBurn = '')
		},
	},
}
</script>

<style scoped>
.col-xl,
.col-xl-auto,
.col-xl-12,
.col-xl-11,
.col-xl-10,
.col-xl-9,
.col-xl-8,
.col-xl-7,
.col-xl-6,
.col-xl-5,
.col-xl-4,
.col-xl-3,
.col-xl-2,
.col-xl-1,
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
  width: 100%;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
</style>
//
<v-snackbar v-model="snackbar" absolute top right color="success">
    //       <span v-text="$t('Register.Success')" ></span>
    //       <v-icon dark>check_circle</v-icon>
    //     </v-snackbar>
//
<v-card-title primary-title>
    //       <div class="headline"   v-text="$t('Title')"></div>
    //     </v-card-title>
