<template>
	<v-container>
		<v-stepper v-model="e1">
			<v-stepper-header>
				<v-stepper-step :complete="e1 > 1" step="1">{{
					step1I18n
				}}</v-stepper-step>

				<v-divider></v-divider>

				<v-stepper-step :complete="e1 > 2" step="2">{{
					step2I18n
				}}</v-stepper-step>

				<v-divider></v-divider>

				<v-stepper-step step="3">{{ step3I18n }}</v-stepper-step>
			</v-stepper-header>

			<v-stepper-items>
				<v-stepper-content step="1">
					<v-row style="color: black !important;">
						<v-col md="6" cols="12">
							<v-text-field
								v-model="fileNumberInstitute"
								:label="fileNumberInstituteI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								class="form-control form-control-lg my-custom-container"
								v-model="referralDate"
								id="referral-date-element"
								:label="referralDateI18n"
							/>
							<date-picker
								:locale="lang"
								v-model="referralDate"
								element="referral-date-element"
								:auto-submit="true"
								:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
							/>
						</v-col>
					</v-row>

					<v-row style="color: black !important;">
						<v-col md="6" cols="12">
							<v-text-field
								v-model="contractNumber"
								:label="contractNumberI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								class="form-control form-control-lg my-custom-container"
								v-model="contractDate"
								id="contract-date-element"
								:label="contractDateI18n"
							/>
							<date-picker
								:locale="lang"
								v-model="contractDate"
								element="contract-date-element"
								:auto-submit="true"
								:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
							/>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<label v-text="contentTypeI18n"> </label>

							<vue-select
								class="style-chooser"
								v-model="contentTypeId"
								:reduce="contentType => contentType.contentTypeId"
								label="contentTypeTitle"
								:options="contentTypes"
							>
							</vue-select>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="archiveNumber"
								:label="archiveNumberI18n"
							></v-text-field>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="customerNumber"
								:label="customerNumberI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<label v-text="employerContractTypeI18n"> </label>

							<vue-select
								class="style-chooser"
								v-model="employerContractTypeId"
								:reduce="
									employerContractType =>
										employerContractType.employerContractTypeId
								"
								label="employerContractTypeTitle"
								:options="employerContractTypes"
							>
							</vue-select>
						</v-col>
					</v-row>

					<v-btn color="primary" @click="e1 = 2">
						{{ continueI18n }}
					</v-btn>
					<v-btn color="primary" @click="e1 = 3">
						{{ backI18n }}
					</v-btn>
				</v-stepper-content>

				<v-stepper-content step="2">
					<v-row>
						<v-col md="6" cols="12">
							<label v-text="dossierTypeI18n"> </label>
							<vue-select
								class="style-chooser"
								v-model="dossierTypeId"
								:reduce="dossierType => dossierType.dossierTypeId"
								label="dossierTypeTitle"
								:options="dossierTypes"
							>
							</vue-select>
						</v-col>
						<v-col md="6" cols="12">
							<label v-text="contractSubjectI18n"> </label>
							<vue-select
								class="style-chooser"
								v-model="contractSubjectId"
								:reduce="contractSubject => contractSubject.contractSubjectId"
								label="contractSubjectTitle"
								:options="contractSubjects"
							>
							</vue-select>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<label v-text="bankI18n"> </label>
							<vue-select
								class="style-chooser"
								v-model="bankId"
								:reduce="bank => bank.bankId"
								label="bankTitle"
								:options="banks"
							>
							</vue-select>
						</v-col>
						<v-col md="6" cols="12">
							<label v-text="branchI18n"></label>
							<vue-select
								required
								class="style-chooser"
								v-model="branchId"
								:reduce="branch => branch.branchId"
								label="branchTitle"
								:options="branches"
							>
								<template v-slot:option="option">
									<v-row flat tile :dir="isRtl">
										<v-col xs-4>
											{{ option.bankTitle }}
										</v-col>
										<v-col xs-4>
											{{ option.branchTitle }}
										</v-col>
										<v-col xs-4>
											{{ option.branchAddress }}
										</v-col>
									</v-row>
								</template>
							</vue-select>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<v-row>
								<v-col md="3" cols="12" class="pt-7">
									<v-btn
										color="red lighten-2"
										small
										dark
										@click="() => (employerLegalDialog = true)"
									>
										<v-icon>mdi-account-circle</v-icon>
									</v-btn>
									<v-btn
										color="red lighten-2"
										dark
										small
										@click="() => (employerLegalDialog = true)"
									>
										<v-icon>mdi-account-off-outline </v-icon>
									</v-btn>
								</v-col>
								<v-col md="9" cols="12">
									<v-text-field v-model="employerLegalName" label="کارفرما" />
									<v-dialog width="1200px" v-model="employerLegalDialog">
										<select-legal @selectLegal="selectEmployerLegalByDialog">
										</select-legal>
									</v-dialog>
								</v-col>
							</v-row>
						</v-col>

						<v-col md="6" cols="12">
							<v-row>
								<v-col md="3" cols="12" class="pt-7">
									<v-btn
										color="red lighten-2"
										small
										dark
										@click="() => (debtorLegalDialog = true)"
									>
										<v-icon>mdi-account-circle</v-icon>
									</v-btn>
									<v-btn
										color="red lighten-2"
										dark
										small
										@click="() => (debtorLegalDialog = true)"
									>
										<v-icon>mdi-account-off-outline </v-icon>
									</v-btn>
								</v-col>
								<v-col md="9" cols="12">
									<v-text-field v-model="debtorLegalName" label="مدیون" />
									<v-dialog width="1200px" v-model="debtorLegalDialog">
										<select-legal @selectLegal="selectDebtorLegalByDialog">
										</select-legal>
									</v-dialog>
								</v-col>
							</v-row>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<label v-text="contentTypeI18n"> </label>

							<vue-select
								class="style-chooser"
								v-model="contractTypeId"
								:reduce="contractType => contractType.contractTypeId"
								label="contractTypeTitle"
								:options="contractTypes"
							>
							</vue-select>
						</v-col>
						<v-col md="6" cols="12">
							<label v-text="registerPlaceI18n"></label>
							<vue-select
								class="style-chooser"
								v-model="registerCityId"
								:reduce="city => city.cityId"
								label="cityTitle"
								:options="cities"
							>
								<template v-slot:option="option">
									<v-row flat tile :dir="isRtl">
										<v-col xs-6>
											{{ option.cityTitle }}
										</v-col>
										<v-col xs-6>
											{{ option.provianceTitle }}
										</v-col>
									</v-row>
								</template>
							</vue-select>
						</v-col>
					</v-row>

					<v-btn color="primary" @click="e1 = 3">
						{{ continueI18n }}
					</v-btn>

					<v-btn color="primary" @click="e1 = 1">{{ backI18n }} </v-btn>
				</v-stepper-content>

				<v-stepper-content step="3">
					<v-row>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="countDays"
								:label="countDaysI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="countClearDays"
								:label="countClearDaysI18n"
							></v-text-field>
						</v-col>
					</v-row>

					<v-row style="color: black !important;">
						<v-col md="6" cols="12">
							<v-text-field
								class="form-control form-control-lg my-custom-container"
								v-model="startDate"
								id="start-date-element"
								:label="startDateI18n"
							/>
							<date-picker
								:locale="lang"
								v-model="startDate"
								element="start-date-element"
								:auto-submit="true"
								:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
							/>
						</v-col>

						<v-col md="6" cols="12">
							<v-text-field
								class="form-control form-control-lg my-custom-container"
								v-model="deadLineDate"
								id="dead-line-date-element"
								:label="deadLineDateI18n"
							/>
							<date-picker
								:locale="lang"
								v-model="deadLineDate"
								element="dead-line-date-element"
								:auto-submit="true"
								:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
							/>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="orginalEmountLoan"
								:label="orginalEmountLoanI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="allProfitLoan"
								:label="allProfitLoanI18n"
							></v-text-field>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="instalmentAmount"
								:label="instalmentAmountI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="instalmentCount"
								:label="instalmentCountI18n"
							></v-text-field>
						</v-col>
					</v-row>

					<v-row>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="profitPersent"
								:label="profitPersentI18n"
							></v-text-field>
						</v-col>
						<v-col md="6" cols="12">
							<v-text-field
								v-model="lateFeesPredent"
								:label="lateFeesPredentI18n"
							></v-text-field>
						</v-col>
					</v-row>

					<v-btn color="primary" @click="e1 = 1">{{ continueI18n }} </v-btn>
					<v-btn color="primary" @click="e1 = 3">{{ backI18n }} </v-btn>
				</v-stepper-content>
			</v-stepper-items>
		</v-stepper>

		<h2 class="d-none">{{ $t('Title') }}</h2>

		<v-btn class="mr-4" @click="submit">ذخیره</v-btn>
		<v-btn @click="clear"> انصراف</v-btn>
		<v-btn @click="clear"> جدید</v-btn>
	</v-container>
</template>
<script>
import { validationMixin } from 'vuelidate'
// eslint-disable-next-line no-unused-vars
import { required, maxLength, minLength } from 'vuelidate/lib/validators'
// eslint-disable-next-line no-unused-vars
import { mapGetters } from 'vuex'
import selectLegal from '../../components/Business/Dialogs/SelectLegal'
export default {
	mixins: [validationMixin],
	validations: {},
	data: () => ({
		fileNumberInstitute: '',
		referralDate: '',
		contractNumber: '',
		contractDate: '',
		contentTypeId: '',
		archiveNumber: '',
		customerNumber: '',
		employerContractTypeId: '',
		dossierTypeId: '',
		contractSubjectId: '',
		bankId: '',
		branchId: '',
		employerLegalDialog: false,
		employerLegalId: '',
		employerLegalName: '',

		debtorLegalDialog: false,
		debtorLegalId: '',
		debtorLegalName: '',
		contractTypeId: '',
		registerCityId: '',
		countDays: '',
		countClearDays: '',
		startDate: '',
		deadLineDate: '',
		orginalEmountLoan: '',
		allProfitLoan: '',
		instalmentAmount: '',
		instalmentCount: '',
		profitPersent: '',
		lateFeesPredent: '',
		// for stepper
		e1: 1,
	}),
	computed: {
		legalTypes() {
			return [
				{
					legalTypeTitle: this.$t('LegalTypes.LegalType1'),
					legalTypeTitleId: 1,
				},
				{
					legalTypeTitle: this.$t('LegalTypes.LegalType2'),
					legalTypeTitleId: 2,
				},
			]
		},
		cities() {
			return [
				{
					cityId: 1,
					cityTitle: this.$t('Baharestan'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 2,
					cityTitle: this.$t('Pakdasht'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 3,
					cityTitle: this.$t('Pardis'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 4,
					cityTitle: this.$t('Pishva'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 5,
					cityTitle: this.$t('Damavand'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 6,
					cityTitle: this.$t('Shahryar'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 7,
					cityTitle: this.$t('Shahreghods'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 8,
					cityTitle: this.$t('Borujerd'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 9,
					cityTitle: this.$t('Azna'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 10,
					cityTitle: this.$t('Aligudarz'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 11,
					cityTitle: this.$t('Doroud'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 12,
					cityTitle: this.$t('Chegeny'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 13,
					cityTitle: this.$t('Delphan'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 14,
					cityTitle: this.$t('Selsele'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 15,
					cityTitle: this.$t('Kuhdasht'),
					provianceTitle: this.$t('Lorestan'),
				},
			]
		},
		contentTypes() {
			return [
				{
					contentTypeTitle: this.$t('ContentTypes.ContentType1'),
					contentTypeId: 1,
				},
				{
					contentTypeTitle: this.$t('ContentTypes.ContentType2'),
					contentTypeId: 2,
				},
			]
		},
		employerContractTypes() {
			return [
				{
					employerContractTypeTitle: this.$t(
						'EmployerContractTypes.EmployerContractType1'
					),
					employerContractTypeId: 1,
				},
				{
					employerContractTypeTitle: this.$t(
						'EmployerContractTypes.EmployerContractType2'
					),
					employerContractTypeId: 2,
				},
			]
		},
		dossierTypes() {
			return [
				{
					dossierTypeTitle: this.$t('DossierTypes.DossierType1'),
					DossierTypeId: 1,
				},
				{
					dossierTypeTitle: this.$t('DossierTypes.DossierType2'),
					DossierTypeId: 2,
				},
			]
		},
		contractSubjects() {
			return [
				{
					contractSubjectTitle: this.$t('ContractSubjects.ContractSubject1'),
					contractSubjectId: 1,
				},
				{
					contractSubjectTitle: this.$t('ContractSubjects.ContractSubject2'),
					contractSubjectId: 2,
				},
			]
		},
		banks() {
			return [
				{
					bankTitle: this.$t('Banks.Bank1'),
					bankId: 1,
				},
				{
					bankTitle: this.$t('Banks.Bank2'),
					bankId: 2,
				},
			]
		},
		branches() {
			return [
				{
					bankTitle: this.$t('Branches.Branch1.Bank'),
					branchTitle: this.$t('Branches.Branch1.Branch'),
					branchAddress: this.$t('Branches.Branch1.Address'),
					branchId: 1,
				},
				{
					bankTitle: this.$t('Branches.Branch2.Bank'),
					branchTitle: this.$t('Branches.Branch2.Branch'),
					branchAddress: this.$t('Branches.Branch2.Address'),
					branchId: 2,
				},
			]
		},
		contractTypes() {
			return [
				{
					contractTypeTitle: this.$t('ContractTypes.ContractType1'),
					contractTypeId: 1,
				},
				{
					contractTypeTitle: this.$t('ContractTypes.ContractType1'),
					contractTypeId: 2,
				},
			]
		},
		isRtl: {
			get() {
				return this.rtl ? 'rtl' : 'ltr'
			},
		},
		lang: {
			get() {
				return this.locale
			},
		},
		registerPlaceI18n() {
			return this.$t('RegisterPlace')
		},

		referralDateI18n() {
			return this.$t('ReferralDate')
		},
		businessSubjectI18n() {
			return this.$t('BusinessSubject')
		},
		fileNumberInstituteI18n() {
			return this.$t('FileNumberInstitute')
		},
		contractNumberI18n() {
			return this.$t('ContractNumber')
		},
		contractDateI18n() {
			return this.$t('ContractDate')
		},
		contentTypeI18n() {
			return this.$t('ContentType')
		},
		archiveNumberI18n() {
			return this.$t('ArchiveNumber')
		},
		customerNumberI18n() {
			return this.$t('CustomerNumber')
		},
		employerContractTypeI18n() {
			return this.$t('EmployerContractType')
		},
		dossierTypeI18n() {
			return this.$t('DossierType')
		},
		contractSubjectI18n() {
			return this.$t('ContractSubject')
		},
		bankI18n() {
			return this.$t('Bank')
		},
		branchI18n() {
			return this.$t('Branch')
		},
		contractTypeI18n() {
			return this.$t(' ContractType')
		},
		countDaysI18n() {
			return this.$t('CountDays')
		},
		countClearDaysI18n() {
			return this.$t('CountClearDays')
		},
		startDateI18n() {
			return this.$t('StartDate')
		},
		deadLineDateI18n() {
			return this.$t('DeadLineDate')
		},
		orginalEmountLoanI18n() {
			return this.$t('OrginalEmountLoan')
		},
		allProfitLoanI18n() {
			return this.$t('AllProfitLoan')
		},
		instalmentAmountI18n() {
			return this.$t('InstalmentAmount')
		},
		instalmentCountI18n() {
			return this.$t('InstalmentCount')
		},
		profitPersentI18n() {
			return this.$t('ProfitPersent')
		},
		lateFeesPredentI18n() {
			return this.$t('LateFeesPredent')
		},
		step1I18n() {
			return this.$t('Step1')
		},
		step2I18n() {
			return this.$t('Step2')
		},
		step3I18n() {
			return this.$t('Step3')
		},
		continueI18n() {
			return this.$t('Continue')
		},
		backI18n() {
			return this.$t('Back')
		},
	},

	methods: {
		submit() {
			this.$v.$touch()
		},
		clear() {
			this.$v.$reset()
		},
		selectEmployerLegalByDialog(value) {
			this.employerLegalDialog = false
			if (!value) return
			this.employerLegalId = value.id
			this.employerLegalName = value.companyName
		},
		selectDebtorLegalByDialog(value) {
			this.debtorLegalDialog = false
			if (!value) return
			this.debtorLegalId = value.id
			this.debtorLegalName = value.companyName
		},
	},
	components: {
		'select-legal': selectLegal,
	},
}
</script>
