<template>
	<v-container>
		<h2>{{ $t('LegalFormTitle') }}</h2>

		<v-row>
			<v-col md="6" cols="12">
				<core-select :label="legalTypeI18n">
					<vue-select
						class="style-chooser"
						v-model="legalTypeId"
						:reduce="legal => legal.legalTypeId"
						label="legalTypeTitle"
						:options="legalTypes"
					>
					</vue-select>
				</core-select>
			</v-col>
			<v-col md="6" cols="12">
				<core-select :label="registerPlaceI18n">
					<vue-select
						required
						class="style-chooser"
						v-model="registerCityId"
						:reduce="city => city.cityId"
						label="cityTitle"
						:options="cities"
						:error-messages="registerCityIdErrors"
					>
						<template v-slot:option="option">
							<v-row flat tile :dir="isRtl">
								<v-col xs-6>
									{{ option.cityTitle }}
								</v-col>
								<v-col xs-6>
									{{ option.provianceTitle }}
								</v-col>
							</v-row>
						</template>
					</vue-select>
				</core-select>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="6" cols="12">
				<core-textfield :label="companyNameI18n">
					<v-text-field
						outlined
						clearable
						dense
						required
						@input="$v.companyName.$touch()"
						@blur="$v.companyName.$touch()"
						:counter="10"
						v-model="companyName"
						:error-messages="companyNameErrors"
					></v-text-field>
				</core-textfield>
			</v-col>
			<v-col md="6" sm="6" cols="12">
				<core-datepicker :label="registerDate18n">
					<date-picker
						v-model="registerDate"
						:locale="lang"
						autoSubmit
						:displayFormat="displayFormatDetector"
						clearable
						format="YYYY-MM-DD"
					/>
				</core-datepicker>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="6" cols="12">
				<v-text-field
					v-model="registerNumber"
					:error-messages="registerNumberErrors"
					:counter="10"
					:label="registerNumberI18n"
					required
					@input="$v.registerNumber.$touch()"
					@blur="$v.registerNumber.$touch()"
				></v-text-field>
			</v-col>
			<v-col md="6" cols="12">
				<v-text-field
					v-model="businessCode"
					:error-messages="businessCodeErrors"
					:counter="10"
					:label="businessCodeI18n"
					required
					@input="$v.businessCode.$touch()"
					@blur="$v.businessCode.$touch()"
				></v-text-field>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="6" cols="12">
				<v-text-field
					v-model="nationalCode"
					:error-messages="nationalCodeErrors"
					:counter="10"
					:label="nationalCodeI18n"
					required
					@input="$v.nationalCode.$touch()"
					@blur="$v.nationalCode.$touch()"
				></v-text-field>
			</v-col>
			<v-col md="6" cols="12">
				<v-text-field
					v-model="businessSubject"
					:error-messages="businessSubjectErrors"
					:counter="10"
					:label="businessSubjectI18n"
					required
					@input="$v.businessSubject.$touch()"
					@blur="$v.businessSubject.$touch()"
				></v-text-field>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="6" cols="12">
				<v-text-field v-model="email" :label="emailI18n"></v-text-field>
			</v-col>

			<v-col md="6" cols="12">
				<v-text-field v-model="site" :label="siteI18n"></v-text-field>
			</v-col>
		</v-row>
		<v-row>
			<v-col md="6" cols="12">
				<v-checkbox v-model="boss" :label="`${bossI18n}`"></v-checkbox>
			</v-col>
		</v-row>

		<v-btn class="mr-4" @click="submit">ذخیره</v-btn>
		<v-btn @click="clear"> انصراف</v-btn>
		<v-btn @click="clear"> جدید</v-btn>
	</v-container>
</template>
<script>
import { validationMixin } from 'vuelidate'
import InputTextCore from '../../components/UI/Input/InputTextCore'
import DatePickerCore from '../../components/UI/DatePicker/DatePickerCore'
import SelectCore from '../../components/UI/Select/SelectCore'
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import Vue from 'vue'
Vue.component('base-input', {
	inheritAttrs: false,
	props: ['label', 'value'],
	template: `
    <label>
      {{ label }}
      <input
        v-bind="$attrs"
        v-bind:value="value"
        v-on:input="$emit('input', $event.target.value)"
      >
    </label>
  `,
})
export default {
	mixins: [validationMixin],
	validations: {
		registerCityId: { required },
		companyName: { required },
		registerNumber: { required },
		businessCode: { required },
		nationalCode: { required },
		businessSubject: { required },
	},
	data: () => ({
		legalTypeId: '',
		registerCityId: '',
		registerName: '',
		registerDate: '',
		companyName: '',
		registerNumber: '',
		businessCode: '',
		nationalCode: '',
		businessSubject: '',
		email: '',
		site: '',
		boss: '',
	}),
	computed: {
		...mapGetters(['locale']),
		legalTypes() {
			return [
				{
					legalTypeTitle: this.$t('LegalTypes.LegalType1'),
					legalTypeTitleId: 1,
				},
				{
					legalTypeTitle: this.$t('LegalTypes.LegalType2'),
					legalTypeTitleId: 2,
				},
			]
		},
		cities() {
			return [
				{
					cityId: 1,
					cityTitle: this.$t('Baharestan'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 2,
					cityTitle: this.$t('Pakdasht'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 3,
					cityTitle: this.$t('Pardis'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 4,
					cityTitle: this.$t('Pishva'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 5,
					cityTitle: this.$t('Damavand'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 6,
					cityTitle: this.$t('Shahryar'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 7,
					cityTitle: this.$t('Shahreghods'),
					provianceTitle: this.$t('Tehran'),
				},
				{
					cityId: 8,
					cityTitle: this.$t('Borujerd'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 9,
					cityTitle: this.$t('Azna'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 10,
					cityTitle: this.$t('Aligudarz'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 11,
					cityTitle: this.$t('Doroud'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 12,
					cityTitle: this.$t('Chegeny'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 13,
					cityTitle: this.$t('Delphan'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 14,
					cityTitle: this.$t('Selsele'),
					provianceTitle: this.$t('Lorestan'),
				},
				{
					cityId: 15,
					cityTitle: this.$t('Kuhdasht'),
					provianceTitle: this.$t('Lorestan'),
				},
			]
		},
		isRtl: {
			get() {
				return this.rtl ? 'rtl' : 'ltr'
			},
		},
		lang: {
			get() {
				return this.locale
			},
		},
		registerPlaceI18n() {
			return this.$t('RegisterPlace')
		},
		legalTypeI18n() {
			return this.$t('LegalType')
		},
		nationalCodeI18n() {
			return this.$t('NationalCode')
		},
		emailI18n() {
			return this.$t('Email')
		},
		siteI18n() {
			return this.$t('Site')
		},
		bossI18n() {
			return this.$t('Boss')
		},
		registerCityIdErrors() {
			// const errors = [];
			// if (!this.$v.registerCityId.$dirty) return errors;
			// !this.$v.registerCityId.required &&
			//   errors.push("registerCityId is required.");
			// return errors;
			return null
		},
		companyNameErrors() {
			const errors = []
			if (!this.$v.companyName.$dirty) return errors
			!this.$v.companyName.required && errors.push('companyName is required.')
			return errors
		},
		registerNumberErrors() {
			const errors = []
			if (!this.$v.registerNumber.$dirty) return errors
			!this.$v.registerNumber.required &&
				errors.push('registerNumber is required.')
			return errors
		},
		businessCodeErrors() {
			const errors = []
			if (!this.$v.businessCode.$dirty) return errors
			!this.$v.businessCode.required &&
				errors.push('business Code is required.')
			return errors
		},
		nationalCodeErrors() {
			const errors = []
			if (!this.$v.nationalCode.$dirty) return errors

			!this.$v.nationalCode.required && errors.push('nationalCode is required.')

			!this.$v.nationalCode.minLength &&
				errors.push('Name must be at least 10 characters long')

			!this.$v.nationalCode.maxLength &&
				errors.push('Name must be at most 10 characters long')

			return errors
		},
		businessSubjectErrors() {
			const errors = []
			if (!this.$v.businessSubject.$dirty) return errors
			!this.$v.businessSubject.required &&
				errors.push('businessSubject Code is required.')
			return errors
		},
		companyNameI18n() {
			return this.$t('CompanyName')
		},
		registerDate18n() {
			return this.$t('RegisterDate')
		},
		registerNumberI18n() {
			return this.$t('RegisterNumber')
		},
		businessCodeI18n() {
			return this.$t('BusinessCode')
		},
		businessSubjectI18n() {
			return this.$t('BusinessSubject')
		},
		displayFormatDetector() {
			switch (this.locale) {
				case 'fa':
					return 'jYYYY/jMM/jDD'
				case 'en':
					return 'YYYY/MM/DD'
				default:
					return 'jYYYY/jMM/jDD'
			}
		},
	},

	methods: {
		submit() {
			this.$v.$touch()
		},
		clear() {
			this.$v.$reset()
			this.legalTypeId = ''
			this.registerCityId = ''
			this.nationalCode = ''
		},
	},
	components: {
		'core-textfield': InputTextCore,
		'core-datepicker': DatePickerCore,
		'core-select': SelectCore,
	},
}
</script>
