<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700:100,300,400,500,700,900|Lekton:700:100,300,400,500,700,900&display=swap" />
  <link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">
  <style>
    /* this line for dark theme */
    .theme--dark.v-application .style-chooser .vs__selected {
      color: white;
    }

    .theme--dark .vs__dropdown-toggle {
      border: 0.5px whitesmoke solid;
    }

    .style-chooser .vs__clear {
      margin-left: 8px;
    }

    /* .theme--dark input {
      color: white;
      width: 100%;
    } */
    input {
      width: 100%;
    }

    .theme--dark input {
      color: white;
    }

  </style>

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
      properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
<!-- 
https://talkhabi.github.io/vue-persian-datetime-picker/#/

-->
