<template>
	<div>
		<v-card>
			<v-card-title> تمامی جزئیات پرونده</v-card-title>
			<v-card-actions>
				<v-btn color="blue darken-1" text @click="$emit('closeModal')">
					برگشت به کارتایل
				</v-btn>
			</v-card-actions>
			<v-card-text>
				<v-tabs fixed-tabs v-model="tab">
					<v-tabs-slider color="amber darken-3"></v-tabs-slider>
					<v-tab
						v-for="(item, index) in items"
						:class="{ active: currentTab === index }"
						@click="currentTab = item.title_en"
						:key="item"
					>
						{{ item.title }}
					</v-tab>
				</v-tabs>
				<v-tabs-items v-model="tab">
					<v-card flat>
						<div v-show="currentTab === 'chequeList'">
							<v-card-text>
								<cheques-list></cheques-list>
							</v-card-text>
						</div>
						<div v-show="currentTab === 'fileList'">
							<v-card-text>
								<files-list></files-list>
							</v-card-text>
						</div>
						<div v-show="currentTab === 'followList'">
							<v-card-text>
								<follows-list></follows-list>
							</v-card-text>
						</div>
						<div v-show="currentTab === 'messageList'">
							<v-card-text>
								<messages-list></messages-list>
							</v-card-text>
						</div>
						<div v-show="currentTab === 'reletedPersonList'">
							<v-card-text>
								<releted-person-list></releted-person-list>
							</v-card-text>
						</div>
					</v-card>
				</v-tabs-items>
			</v-card-text>
		</v-card>
	</div>
</template>

<script>
import ChequesList from './ChequesList.vue'
import FilesList from './FilesList.vue'
import FollowsList from './FollowsList.vue'
import MessagesList from './MessagesList.vue'
import ReletedPersonList from './ReletedPersonList.vue'
export default {
	components: {
		ChequesList,
		FilesList,
		FollowsList,
		MessagesList,
		ReletedPersonList,
	},
	data() {
		return {
			items: [
				{ id: 1, title: 'لیست پیگیری ها', title_en: 'followList' },
				{ id: 2, title: 'لیست چک ها', title_en: 'chequeList' },
				{ id: 3, title: 'لیست پرونده های ', title_en: 'fileList' },
				{ id: 4, title: 'لیست افراد مرتبط', title_en: 'reletedPersonList' },
				{ id: 5, title: 'لیست پیام ها', title_en: 'messageList' },
			],
			currentTab: 0,
			tab: 'followList',
		}
	},
}
</script>
