<template>
	<div>
		<v-card>
			<v-card-title> لیست پرونده های مدیون</v-card-title>
			<v-card-actions>
				<v-btn color="success" small dark @click="search">
					<v-icon>mdi-magnify</v-icon>
				</v-btn>
				<v-btn color="warning" small dark @click="clearFilter">
					<v-icon>mdi-eraser</v-icon>
				</v-btn>
				<v-btn color="warning" small dark @click="exportToExcel">
					<v-icon>mdi-file-excel-outline</v-icon>
				</v-btn>
				<br />
			</v-card-actions>
		</v-card>
		<v-divider />
		<v-card>
			<v-card-text>
				<v-data-table
					:headers="headers"
					:items="desserts"
					:options.sync="options"
					:server-items-length="totalDesserts"
					:loading="loading"
					class="elevation-1"
					item-key="id"
					:items-per-page="itemPerPage"
				>
					<template slot="header">
						<tr>
							<td v-for="header in headers" :key="header.text">
								<v-text-field v-model="filters[header.value]"></v-text-field>
							</td>
						</tr>
					</template>
				</v-data-table>
			</v-card-text>
			<v-card-actions>
				<v-btn color="blue darken-1" text @click="$emit('closeModal')">
					Close
				</v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>

<script>
import { GetFilesList } from '../../../data/FilesList'
export default {
	data() {
		return {
			// for data table
			itemPerPage: 5,
			singleSelect: true,
			selectedDebtor: [],
			totalDesserts: 0,
			desserts: [],
			loading: true,
			options: {},
			headers: [
				{
					text: 'کد سیستمی',
					align: 'start',
					sortable: false,
					value: 'systemyCode',
				},
				{ text: 'سریال پرونده', value: 'fileSerial' },
				{ text: 'شماره قرارداد', value: 'contractNumber' },
				{ text: 'نوع پرونده', value: 'fileType' },
				{ text: 'نوع قرارداد', value: 'contractType' },
				{ text: 'کارشناس', value: 'expert' },
			],
			filters: {
				systemyCode: '',
				fileSerial: '',
				contractNumber: '',
				fileType: '',
				contractType: '',
				expert: '',
			},
		}
	},

	methods: {
		getDataFromApi() {
			this.loading = true
			// eslint-disable-next-line no-unused-vars
			return new Promise((resolve, reject) => {
				const { sortBy, sortDesc, page, itemsPerPage } = this.options
				let result = this.getDesserts(sortBy, sortDesc, page, itemsPerPage)
				let items = result.items
				const total = result.total

				setTimeout(() => {
					this.loading = false
					resolve({
						items,
						total,
					})
				}, 1000)
			})
		},
		getDesserts() {
			let m = GetFilesList({
				itemsPerPage: this.options.itemsPerPage,
				page: this.options.page,
				filters: this.filters,
			})
			return m
		},
		clearFilter() {
			this.filters = {
				systemyCode: '',
				fileSerial: '',
				contractNumber: '',
				fileType: '',
				contractType: '',
				expert: '',
			}
		},
		search() {
			this.getDataFromApi().then(data => {
				this.desserts = data.items
				this.totalDesserts = data.total
			})
		},
	},
	mounted() {
		this.search()
	},
	watch: {
		options: {
			handler() {
				this.search()
			},
			deep: true,
		},
	},
}
</script>
