<template>
	<div>
		<v-card>
			<v-card-title> لیست پیگیری ها</v-card-title>
			<v-card-actions>
				<v-btn color="success" small dark @click="insertFollowModal = true">
					درج پیگیری
				</v-btn>
				<v-btn color="success" small dark @click="search">
					<v-icon>mdi-magnify</v-icon>
				</v-btn>
				<v-btn color="warning" small dark @click="clearFilter">
					<v-icon>mdi-eraser</v-icon>
				</v-btn>
				<v-btn color="warning" small dark @click="exportToExcel">
					<v-icon>mdi-file-excel-outline</v-icon>
				</v-btn>
				<br />
			</v-card-actions>
		</v-card>
		<v-divider />
		<v-card>
			<v-card-text>
				<v-data-table
					v-model="selectedDebtor"
					:headers="headers"
					:items="desserts"
					:options.sync="options"
					:server-items-length="totalDesserts"
					:loading="loading"
					class="elevation-1"
					show-select
					:single-select="singleSelect"
					item-key="id"
					:items-per-page="itemPerPage"
					show-expand
					:expanded.sync="expanded"
					:single-expand="singleExpand"
				>
					<template slot="header">
						<tr>
							<td></td>
							<td></td>
							<td v-for="header in headers" :key="header.text">
								<template v-if="header.hasFilter == true">
									<v-text-field v-model="filters[header.value]"></v-text-field>
								</template>
							</td>
						</tr>
					</template>
					<template v-slot:expanded-item="{ headers, item }">
						<td :colspan="headers.length">
							<v-tabs
								v-model="tab"
								background-color="transparent"
								color="basil"
								grow
							>
								<v-tab v-for="tabitem in items" :key="tabitem">
									{{ tabitem }}
								</v-tab>
							</v-tabs>
							<v-tabs-items v-model="tab">
								<v-tab-item v-for="(item1, index) in items" :key="item1">
									<v-card color="basil" flat>
										<v-card-text v-if="index == 0">
											توضیحات پیگیری :{{ item.description }}
										</v-card-text>
										<v-card-text v-if="index == 1">
											توضیحات قرار :{{ item.descriptionMeeting }}
										</v-card-text>
									</v-card>
								</v-tab-item>
							</v-tabs-items>
						</td>
					</template>
				</v-data-table>
			</v-card-text>
			<v-card-actions>
				<v-btn color="blue darken-1" text @click="$emit('closeModal')">
					Close
				</v-btn>
			</v-card-actions>
		</v-card>
		<v-dialog persistent width="1200px" v-model="insertFollowModal">
			<insert-follow
				@closeModal="() => (insertFollowModal = false)"
			></insert-follow>
		</v-dialog>
	</div>
</template>

<script>
import InsertFollow from '../Dialogs/InsertFollow'
import { FollowListService } from "../../../services/FollowList.Service"
import {
	FollowListHeader,
	FollowListFilter,
} from '../../../views/Pages/RelatedPageData/Extentions'
export default {
	data() {
		return {
			expanded: [],
			singleExpand: false,
			insertFollowModal: false,
			// for data table
			itemPerPage: 5,
			singleSelect: true,
			selectedDebtor: [],
			totalDesserts: 0,
			desserts: [],
			loading: true,
			options: {},
			headers: FollowListHeader,
			filters: FollowListFilter,
			// for expend datatable
			tab: {},
			items: ['شرح پیگیری', 'شرح قرار'],
		}
	},

	methods: {
		clearFilter() {
			this.filters = {
				systemyCode: '',
				debtorFullName: '',
				contractNumber: '',
				fileType: '',
				nextFollowDate: '',
				meetingDate: '',
			}
		},
		async getDataFromApi() {
			this.loading = true
			let result = await FollowListService.getAll({
				sortBy: this.options.sortBy,
				sortDesc: this.options.sortDesc,
				itemsPerPage: this.options.itemsPerPage,
				page: this.options.page,
				filters: this.filters,
                personId:this.personId
			})
			return result.data
		},
		search() {
			this.getDataFromApi().then(response => {
				this.desserts = response.data
				this.totalDesserts = 5
				this.loading = false
			})
		},
		exportToExcel() {},
	},
	mounted() {
	//	this.search(),
		console.log('personid in follow list=>',this.person_id);
	},
	watch: {
		options: {
			handler() {
				this.search()
			},
			deep: true,
		},
	},
	components: {
		'insert-follow': InsertFollow,
	},
	props:{
		person_id:{
			type:String
		}
	},

}
</script>
