<template>
	<div>
		<v-card>
			<v-card-text>
				<v-row>
					<v-col md="6" cols="12">
						<label>نوع پیگیری </label>
						<vue-select
							class="style-chooser"
							v-model="followTypeId"
							:reduce="followType => followType.followTypeId"
							label="followTypeTitle"
							:options="followTypes"
						>
						</vue-select>
					</v-col>

					<v-col md="6" cols="12">
						<label>نتیجه پیگیری </label>
						<vue-select
							class="style-chooser"
							v-model="followResultId"
							:reduce="followResult => followResult.followResultId"
							label="followResultTitle"
							:options="followResults"
						>
						</vue-select>
					</v-col>
				</v-row>
				<v-row>
					<v-col md="6" cols="12">
						<v-textarea
							name="input-7-1"
							filled
							label="توضیحات"
							auto-grow
							v-model="description"
						></v-textarea>
					</v-col>
					<v-col md="6" cols="12">
						<v-row>
							<v-col md="12" cols="12" style="color: black !important;">
								<v-text-field
									class="form-control form-control-lg my-custom-container"
									v-model="nextFollowDate"
									id="next-Follow-date"
									label="تاریخ پیگیری بعدی"
								/>
								<date-picker
									:locale="lang"
									v-model="deadLineDate"
									element="next-Follow-date"
									:auto-submit="true"
									:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
								/>
							</v-col>
						</v-row>
						<v-row>
							<v-col md="6" cols="12">
								<label>انتخاب پرونده </label>
								<vue-select
									class="style-chooser"
									v-model="caseIdList"
									:reduce="caseIdList => caseIdList.caseId"
									label="caseTitle"
									:options="caseList"
								>
								</vue-select>
							</v-col>
						</v-row>
					</v-col>
				</v-row>
				<template v-if="followResultId == 2 || followResultId == 3">
					<div style="border:1px black solid;">
						<v-row style="margin:5px;">
							<v-col md="6" cols="12" style="color: black !important;">
								<v-text-field
									class="form-control form-control-lg my-custom-container"
									v-model="agreementDate"
									id="agreement-Date"
									label="تاریخ قرار"
								/>
								<date-picker
									:locale="lang"
									v-model="agreementDate"
									element="agreement-Date"
									:auto-submit="true"
									:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
								/>
							</v-col>
							<v-col md="3" cols="12">
								<v-text-field
									label="مقدار قرار"
									v-model="agreementMoney"
								></v-text-field>
							</v-col>
							<v-col md="3" cols="12">
								<v-checkbox
									v-model="sendNoticMessage"
									label="ارسال پیامک"
								></v-checkbox>
							</v-col>
						</v-row>
						<v-row style="margin:5px;">
							<v-col md="6" cols="12">
								<v-textarea
									name="input-7-1"
									filled
									label="توضیحات قرار"
									v-model="agreementDescription"
									auto-grow
								></v-textarea>
							</v-col>
							<v-col md="6" cols="12">
								<v-row>
									<v-col md="12" cols="12">
										<label>طرف قرار </label>
										<vue-select
											class="style-chooser"
											v-model="tarafeGhararId"
											:reduce="person => person.personId"
											label="name"
											:options="people"
										>
											<template v-slot:option="option">
												<v-row flat tile :dir="rtl ? 'rtl' : 'ltr'">
													<v-col xs-6>
														{{ option.name }}
													</v-col>
													<v-col xs-6>
														{{ option.personId }}
													</v-col>
												</v-row>
											</template>
										</vue-select>
									</v-col>
								</v-row>
								<v-row>
									<v-col md="12" cols="12">
										<label>شماره موبایل </label>
										<vue-select
											class="style-chooser"
											v-model="personPhoneId"
											:options="mobileNumbers"
										/>
									</v-col>
								</v-row>
							</v-col>
						</v-row>
					</div>
				</template>
			</v-card-text>

			<v-card-actions>
				<v-btn
					color="blue darken-1"
					text
					@click="
						saveFollow()
						$emit('closeModal')
					"
				>
					save
				</v-btn>
				<v-btn color="blue darken-1" text @click="$emit('closeModal')">
					Close
				</v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>

<script>
export default {
	data() {
		return {
			followTypeId: 0,
			followResultId: 0,
			fileId: null,
			deadLineDate: null,
			followTypes: [
				{
					followTypeTitle: 'تلفنی',
					followTypeId: 1,
				},
				{
					followTypeTitle: 'شناسایی خودرو و املاک',
					followTypeId: 2,
				},
			],
			followResults: [
				{
					followResultTitle: 'نیاز به پیگیری',
					followResultId: 1,
				},
				{
					followResultTitle: 'قرار ملاقات',
					followResultId: 2,
				},
				{
					followResultTitle: 'قرار واریز',
					followResultId: 3,
				},
				{
					followResultTitle: 'پاسخگو نبودند',
					followResultId: 4,
				},
			],
			caseList: [
				{
					caseTitle: 'پرونده 1',
					caseId: 1,
				},
				{
					caseTitle: 'پرونده 2',
					caseId: 2,
				},
				{
					caseTitle: 'پرونده 3',
					caseId: 3,
				},
			],
			// insert type of ghara molaghat
			meetingDate: null,
			amountMeeting: 0,
			tarafeGhararId: null,
			sendNoticMessage: false,
			people: [
				{
					personId: 1,
					name: 'reza omodi',
				},
				{
					personId: 2,
					name: 'majid berader',
				},
			],
			mobileNumbers: ['09108582385', '09354993236', '09169612374'],
			mobileNumber: null,
		}
	},

	methods: {
		selectLegal() {
			this.$emit('selectLegal', this.selectedLegal[0])
		},
		exit() {
			this.$emit('selectLegal', null)
		},
		saveFollow() {
			alert('با موفقیت ذخیره شد')
		},
	},
	computed: {
		lang: {
			get() {
				return this.locale
			},
		},
	},
}
</script>
