<template>
	<div>
		<v-card>
			<v-card-title>درج پیام جدید</v-card-title>
			<v-card-text>
				<v-row>
					<v-col md="6" cols="12">
						<v-text-field
							label="نام مدیون"
							v-model="debtorFullName"
						></v-text-field>
					</v-col>
					<v-col md="6" cols="12">
						<label>نوع پیام </label>
						<vue-select
							class="style-chooser"
							v-model="messageTypeId"
							:reduce="messageType => messageType.messageTypeId"
							label="messageTypeTitle"
							:options="messageTypes"
						>
						</vue-select>
					</v-col>
				</v-row>
				<v-row>
					<v-col md="6" cols="12" style="color: black !important;">
						<v-text-field
							class="form-control form-control-lg my-custom-container"
							v-model="fromDate"
							id="from-date"
							label="از تاریخ"
						/>
						<date-picker
							:locale="lang"
							v-model="fromDate"
							element="from-date"
							:auto-submit="true"
							:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
						/>
					</v-col>
					<v-col md="6" cols="12" style="color: black !important;">
						<v-text-field
							class="form-control form-control-lg my-custom-container"
							v-model="toDate"
							id="to-date"
							label="تا تاریخ"
						/>
						<date-picker
							:locale="lang"
							v-model="toDate"
							element="to-date"
							:auto-submit="true"
							:format="this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'"
						/>
					</v-col>
				</v-row>
				<v-row>
					<v-col md="6" cols="12">
						<date-picker
							v-model="sendTime"
							labale="ساعت ارسال"
							type="time"
							clearable
						/>
					</v-col>
					<v-col md="6" cols="12">
						<v-textarea
							name="input-7-1"
							filled
							label="متن پیام"
							auto-grow
							v-model="messageText"
						></v-textarea>
					</v-col>
				</v-row>
			</v-card-text>

			<v-card-actions>
				<v-btn
					color="blue darken-1"
					text
					@click="
						saveFollow()
						$emit('closeModal')
					"
				>
					save
				</v-btn>
				<v-btn color="blue darken-1" text @click="$emit('closeModal')">
					Close
				</v-btn>
			</v-card-actions>
		</v-card>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			debtorFullName: '',
			fromDate: '',
			toDate: '',
			messageTypeId: '',
			sendTime: '',
			messageText:'',
			messageTypes: [
				{
					messageTypeTitle: 'هشدار',
					messageTypeId: 1,
				},
				{
					messageTypeTitle: 'یادآوری',
					messageTypeId: 2,
				},
			],
		}
	},

	methods: {},
	computed: {
		...mapGetters('scheme', ['rtl']),
		...mapGetters(['locale']),
		lang: {
			get() {
				console.log(' this.locale', this.locale)
				return this.locale
			},
		},
		formatDate() {
			return this.lang == 'en' ? 'YYYY/MM/DD' : 'jYYYY/jMM/jDD'
		},
	},
}
</script>
