
<template>
  <div>
    <v-card>
      <v-card-title> انتخاب حقوقی</v-card-title>
      <v-card-text>
        <v-row>
          <v-col md="6" cols="12">
            <v-text-field
              v-model="companyName"
              label=" نام شرکت"
            ></v-text-field>
          </v-col>

          <v-col md="6" cols="12">
            <v-text-field
              v-model="registerNumber"
              label="شماره ثبت "
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <v-btn color="success" small dark @click="search">
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <v-btn color="warning" small dark @click="clearFilter">
          <v-icon>mdi-eraser</v-icon>
        </v-btn>
      </v-card-actions>
    </v-card>
    <v-divider />
    <v-card>
      <v-card-text>
        <v-data-table
          v-model="selectedLegal"
          :headers="headers"
          :items="desserts"
          :options.sync="options"
          :server-items-length="totalDesserts"
          :loading="loading"
          class="elevation-1"
          show-select
          :single-select="singleSelect"
          item-key="id"
          :items-per-page="itemPerPage"
        >
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="selectLegal">انتخاب</v-btn>
        <v-btn @click="exit">خروج</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
// eslint-disable-next-line no-unused-vars
import {GetLegal}from '../../../data/LegalData'

export default {
    data(){
        return {
            companyName:"",
            registerNumber:"",
            businessCode:"",
            nationalCode:"",
             // for data table
             itemPerPage:5,
            singleSelect: true,
            selectedLegal:[],
            totalDesserts: 0,
            desserts: [],
            loading: true,
            options: {},
            headers: [
            {
            text: 'نام شرکت',
            align: 'start',
            sortable: false,
            value: 'companyName',
           },
           { text: 'شماره ثبت', value: 'registerNumber' },
           { text: 'چربی (g)', value: 'fat' },
           { text: 'کربوهیدرات (g)', value: 'carbs' },
           { text: 'پروتیین (g)', value: 'protein' },
           { text: 'آهن (%)', value: 'iron' },
        ],
      }
     
    },
    
    methods:{
        selectLegal(){
            this.$emit('selectLegal',this.selectedLegal[0])
        },
        exit(){
            this.$emit('selectLegal',null)
        },
        getDataFromApi () {
        this.loading = true
        // eslint-disable-next-line no-unused-vars
        return new Promise((resolve, reject) => {
          const { sortBy, sortDesc, page, itemsPerPage } = this.options
          let result = this.getDesserts(sortBy,sortDesc,page,itemsPerPage)
          let items=result.items;
          const total = result.total;

          setTimeout(() => {
            this.loading = false
            resolve({
              items,
              total,
            })
          }, 1000)
        })
      },
      getDesserts ()
       {
        let m= GetLegal({
          itemsPerPage:this.options.itemsPerPage,
          page:this.options.page,
          companyName:this.companyName,
          registerNumber:this.registerNumber});
      return m;
      },
      clearFilter(){
          this.companyName='';
          this.registerNumber='';
      },

      search(){
          this.getDataFromApi()
            .then(data => {
              this.desserts = data.items
              this.totalDesserts = data.total
            })
          
      },
    
    },
    mounted(){
      this.search();
    },
    watch: {
      options: {
        handler () {
         this.search()
        },
        deep: true,
      },
    },
}
</script>
